@use "../mixins";

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.2;
}

.text-bold {
    font-weight: 700;
}

.text-italic {
    font-style: italic;
}

.text-center {
    text-align: center;
}

.title {
    &_main {
        font-size: 4rem;
    }
}