@use "../variables" as *;
@use 'sass:color';

.content {
    padding: 1rem;
    max-height: calc(100vh - 138px);
    overflow: auto;

    &__title {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 12px;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__subtitle {
        font-size: 24px;
        margin-bottom: 32px;
        color: $text-secondary;
    }

    &__desc {
        color: $text-secondary;
        line-height: 1.8;
        margin-bottom: 12px;
    }

    &__code {
        margin-bottom: 16px;

        &-json {
            border-radius: 8px;
            padding: 8px 16px;
            background-color: $bg-white;
            color: $text-main;
            box-shadow: $bx-shadow-main-bottom;
            max-height: 360px;
            max-width: 1008px;
            overflow-y: auto;
        }

        &_success {
            & .content__code-json {
                background-color: color.adjust($bg-light, $lightness: 5%);
                color: color.adjust($info, $lightness: 3%);
            }
        }

        &-copy {
            background-color: $icon-primary;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                transform: scale(1.2);
            }

            &:active {
                background-color: $icon-success;
            }

            &_disabled {
                pointer-events: none;
                opacity: 0.5;
            }
        }
    }

    &__show-example {
        display: block;
        background-color: $bg-light;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 14px;
    }

    &-chart {
        margin-top: 24px;
        background-color: $bg-white;
        border-radius: 12px;
        box-shadow: $bx-shadow-main-bottom;
        padding: 12px;
    }
}